<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="DetalleProductos">
      <%- include('./partials/banner') %> 

      <div class="containerNav">

      <div class="nav">
        <a href="/"><button class="boton classic">← Volver atrás</button></a>
      </div>

      <div class="btn-group" role="group" aria-label="Basic mixed styles example" >
        <button type="button" class="btn btn-danger classic" onclick="ocultar();">Classic</button>
        <button type="button" class="btn btn-success lavanda" onclick="mostrar();">Lavanda</button>
      </div>
    
    </div>

      <section class="producto" id="productoClassic">

        <article class="imagen-precio">
          <div class="container">
            <img src="/images/renders/classic/ClassicProducto.webp" alt="Rubicat Classic" class="img">
          </div>
          <div class="data">
            <h1 class="titulo Classic">RUBICAT CLASSIC</h1>
            <p class="detalles"><b>100% Natural</b></p>
            <p class="detalles">Envíos a todo el país</p>
            <p class="detalles">Disponible en 5.3KG</p>
           <a href="https://listado.mercadolibre.com.ar/rubicat-classic#D[A:rubicat%20classic]" target="_blank"><button class="boton classic">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info">
            <h2 class="titulo Classic">Descripción</h2>
            <p class="textoDescriptivo">Rubicat Classic es elaborada con Bentonita Sódica, 100% natural, sin agregados químicos. Su capacidad aglomerante permite la formación de cúmulos, fáciles de limpiar, resultando más económico que otros productos sanitarios.</p>
            <p class="textoDescriptivo">Es ideal para aquellos gatitos que se encuentran en transición o utilizan por primera vez una arena aglomerante</p>
          </div>

          <div class="caracteristicas">
            <h3 class="titulo Classic">Características</h3>

            <div class="container">

              <div class="container1">

                <div class="subcontainer">
                 
                  <div>
                <img src="/images/renders/classic/logos/Recurso 2@4x.webp" class="logos" alt="Aglutinante">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Classic">Aglomerante</p>
                <p class="texto">Rubicat es elaborada con bentonita sódica. Esta tiene la capacidad de aglomerar líquido y humedad, formando sólidos cúmulos.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div>
                <img src="/images/renders/classic/logos/limpiar@4x.webp" class="logos" alt="Limpieza">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Classic">Fácil limpieza</p>
                <p class="texto">Con la fórmula Rubicat te asegurás limpiar la litera una vez cada 30 días. Una vez generado el cúmulo, solo se repone la cantidad extraída.</p>
              </div>
            </div>

          </div>

          <div class="container2">

            <div class="subcontainer">
              <div>
                <img src="/images/renders/classic/logos/olor@4x.webp" class="logos" alt="Elimina Olores">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Classic">Elimina olores</p>
                <p class="texto">Su capacidad de aglomeración permite capturar los olores al instante y así mantener los ambientes limpios.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div>
                <img src="/images/renders/classic/logos/lavanda@4x.webp" class="logos" alt="Aroma a Lavanda">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Classic">Aroma</p>
                <p class="texto">Rubicat Classic trae un suave aroma a lavanda para mantener el ambiente fresco y con un rico perfume.</p>
              </div>
            </div>

          </div>

          <div class="modo">
            <div>
              <h4 class="titulo Classic">Modo de uso</h4>
            </div>
              <div class="video">
                  <youtube-lite class="videoYoutube" width: 320 height: 176 video="Wypl7NYO2_U" placeholder= "/images/renders/classic/CoverClassic.webp"></youtube-lite>
            </div>
          </div>

        </article>

      </section>

      <!-- LAVANDA -->

      <section class="producto" id="productoLavanda">

        <article class="imagen-precio">
          <div class="container">
            <img src="/images/renders/lavanda/LavandaProducto.webp" alt="Rubicat Lavanda" class="img">
          </div>
          <div class="data">
            <h1 class="titulo Lavanda">RUBICAT LAVANDA</h1>
            <p class="detalles"><b>100% Natural</b></p>
            <p class="detalles">Envíos a todo el país</p>
            <p class="detalles">Disponible en 5.3KG</p>
           <a href="https://listado.mercadolibre.com.ar/rubicat-lavanda#D[A:rubicat%20lavanda]" target="_blank"><button class="boton lavanda">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info">
            <h2 class="titulo Lavanda">Descripción</h2>
            <p class="textoDescriptivo">Rubicat Classic Lavanda posee un delicado aroma, el cual neutraliza los malos olores por completo. Un producto desarrollado para los más exigentes, que desean un hogar pulcro y libre de olores.</p>
            <p class="textoDescriptivo">Es ideal para aquellos gatitos que se encuentran en transición o utilizan
             por primera vez una arena aglomerante.</p>
          </div>

          <div class="caracteristicas">
            
            <h3 class="titulo Lavanda">Características</h3>


          <div class="container">

            <div class="container1">

            <div class="subcontainer">
              <div>
                <img src="/images/renders/lavanda/logos/aglutina-lavanda.png" class="logos" alt="Aglutinante">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Lavanda">Aglomerante</p>
                <p class="texto">Rubicat es elaborada con bentonita sódica. Esta tiene la capacidad de aglomerar líquido y humedad, formando sólidos cúmulos.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div>
                <img src="/images/renders/lavanda/logos/limpieza-lavanda.png" class="logos" alt="Fácil limpieza">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Lavanda">Fácil limpieza</p>
                <p class="texto">Con la fórmula Rubicat te asegurás limpiar la litera una vez cada 30 días. Una vez generado el cúmulo, solo se repone la cantidad extraída.</p>
              </div>
            </div>

          </div>

          <div class="container2">

            <div class="subcontainer">
              <div>
                <img src="/images/renders/lavanda/logos/olores-lavanda.png" class="logos" alt="Elimina olores">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Lavanda">Elimina olores</p>
                <p class="texto">Su capacidad de aglomeración permite capturar los olores al instante y así mantener los ambientes limpios.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div>
                <img src="/images/renders/lavanda/logos/lavanda-logo.png" class="logos" alt="Aroma a Lavanda">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Lavanda">Aroma</p>
                <p class="texto">Rubicat Classic trae un suave aroma a lavanda para mantener el ambiente fresco y con un rico perfume.</p>
              </div>
            </div>
          </div>

          </div>

        </div>

        <div class="modo">
          <div>
            <h4 class="titulo Lavanda">Modo de uso</h4>
          </div>
            <div class="video">
              <youtube-lite class="videoYoutube" width: 320 height: 176 video="Wypl7NYO2_U" placeholder= "/images/renders/lavanda/coverLavanda.webp"></youtube-lite>
          </div>
        </div>
      </article>

      </section>

      <section class="masproductos">
        <h4 class="titulo">Más productos</h4>
        
        <div class="tarjetasMobile">

          <div class="tarjeta1">
            <img src="/images/index/productos/Premium-Producto2.webp" class="imagenTarjeta" alt="Rubicat Premium">
            <a href="/productos/premium" class="btn btn-primary BtnTarjeta premium white">Ver detalles</a>
          </div>
  
          <div class="tarjeta2">
            <img src="/images/index/productos/Sensitive-Producto2.webp" class="imagenTarjeta" alt="Rubicat Sensitive">
            <a href="/productos/sensitive" class="btn btn-primary BtnTarjeta sensitive white">Ver detalles</a>
          </div>
  
        </div>


        <div class="tarjetasDesktop">
        <div class="card" style="width: 23rem;">
          <img src="/images/index/productos/Premium-Producto.webp" class="card-img-top" alt="Rubicat Premium">
          <div class="card-body">
            <h5 class="card-title">Rubicat Premium</h5>
            <p class="card-text">Acción instantánea</p>
            <a href="/productos/premium" class="btn btn-primary premium white">Ver detalles</a>
          </div>
        </div>

        <div class="card" style="width: 23rem;">
          <img src="/images/index/productos/Sensitive-Producto2.webp" class="card-img-top" alt="Rubicat Sensitive">
          <div class="card-body">
            <h5 class="card-title">Rubicat Sensitive</h5>
            <p class="card-text">Para usuarios exigentes</p>
            <a href="/productos/sensitive" class="btn btn-primary sensitive white">Ver detalles</a>
          </div>
        </div>

      </div>
      </section>
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptProducto') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
