<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="Contacto">
    
      <!-- <section class="contacto" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
        <div>
        <h4 class="titulo">Contacto</h4>
        <p class="texto">Encontranos en nuestras redes sociales o envianos un mensaje por este medio. Estamos atentos a tu consulta y responderemos a la brevedad.</p>
      </div>
       
        <article class="datos">
          
          <div>
          <div class="tarjetas">
           
            <div class="tarjeta1">
              <i class="fa-solid fa-envelope"> </i>
                <span class="texto"> info@rubicat.com.ar</span> 
            </div>
             
  
        </article>
      
      <article class="formulario">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Nombre</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
        </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Número de teléfono / Whatsapp</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Asunto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <button class="boton">Enviar</button>
      </article>
      </div>
  
      </section>
 -->
      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
