<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="DetalleProductos">
      <%- include('./partials/banner') %> 

      <div class="nav">
        <a href="/"><button class="boton detox">← Volver atrás</button></a>
      </div>

      <section class="producto">

        <article class="imagen-precio">

          <div class="container">
            <img src="/images/renders/detox/detox.webp" alt="Rubicat Detox" class="img">
          </div>
          <div class="data">
            <h1 class="titulo Detox">RUBICAT DETOX</h1>
            <p class="detalles"><b>Carbón activado</b></p>
            <p class="detalles">Envíos a todo el país</p>
            <p class="detalles">Disponible en 5KG</p>


           <a href="https://listado.mercadolibre.com.ar/rubicat-detox#D[A:rubicat%20detox]" target="_blank"><button class="boton detox">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info">
            <h2 class="titulo Detox">Descripción</h2>
            <p class="textoDescriptivo">Rubicat Detox es especial en su capacidad para retener toxinas. Gracias a su fórmula única y absorbente con carbón activado, esta arena atrapa eficazmente los olores desagradables y las sustancias nocivas, como el amoníaco y otros compuestos tóxicos presentes en los desechos de tu mascota. De esta manera, Rubicat Detox ayuda a mantener un ambiente fresco y libre de malos olores en tu hogar.</p>
          </div>

          <div class="caracteristicas">

            <h3 class="titulo Detox">Características</h3>

            <div class="container">

              <div class="container1">

            <div class="subcontainer">

              <div>
                <img src="/images/renders/detox/logos/carbonActivado.webp" class="logos" alt="Carbon Activado">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Detox">Carbón activado</p>
                <p class="texto">Es el purificante más utilizado por su capacidad para retener compuestos, tiene una excelente capacidad de adsorción y es por eso que mejora la calidad de la arena sanitaria.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/detox/logos/catalizaToxinas.webp" class="logos" alt="Cataliza Toxinas">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Detox">Cataliza toxinas</p>
                <p class="texto">La combinación de la bentonita con el carbón permite catalizar las toxinas de los desechos de tu gato, además de los que se encuentran en el ambiente.</p>
              </div>
            </div>
          </div>

          <div class="container2">
            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/detox/logos/mataBacterias.webp" class="logos" alt="Atrapa Bacterias">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Detox">Atrapa bacterias</p>
                <p class="texto">Mantiene el equilibrio de bacterias en la arena sanitaria para la protección del pelaje y la bandeja sanitaria purifica ambientes.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/detox/logos/purificaAmbientes.webp" class="logos" alt="Purifica ambientes">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Detox">Purifica ambientes</p>
                <p class="texto">El filtrado natural que tiene el carbón activado permite que purifique el ambiente y sostenga la pureza del aire</p>
              </div>
            </div>
          </div>

          </div>
          </div>
          
        </article>
      </section>

      <section class="masproductos">
        <h4 class="titulo">Más productos</h4>

        <div class="tarjetasMobile">

        <div class="tarjeta1">
          <img src="/images/index/productos/Premium-Producto2.webp" class="imagenTarjeta" alt="Rubicat Premium">
          <a href="/productos/premium" class="btn btn-primary BtnTarjeta premium white">Ver detalles</a>
        </div>

        <div class="tarjeta2">
          <img src="/images/index/productos/Sensitive-Producto2.webp" class="imagenTarjeta" alt="Rubicat Sensitive">
          <a href="/productos/sensitive" class="btn btn-primary BtnTarjeta sensitive white">Ver detalles</a>
        </div>

      </div>

        <div class="tarjetasDesktop">
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Premium-Producto2.webp" class="card-img-top" alt="Rubicat Premium">
            <div class="card-body">
              <h5 class="card-title">Rubicat Premium</h5>
              <p class="card-text">100% Natural</p>
              <a href="/productos/premium" class="btn btn-primary premium white">Ver detalles</a>
            </div>
          </div>
  
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Sensitive-Producto2.webp" class="card-img-top" alt="Rubicat Sensitive">
            <div class="card-body">
              <h5 class="card-title">Rubicat Sensitive</h5>
              <p class="card-text">Para exigentes</p>
              <a href="/productos/sensitive" class="btn btn-primary sensitive white">Ver detalles</a>
            </div>
          </div>
        </div>
      </section>
      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
