<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/banner') %>    

    <main class="distribuidores">
        
        <section class="tarjetas">

            <div data-aos="fade-right" data-aos-duration="3000">
            <fieldset class="caja">
                <legend class="titulo">Distribuidores</legend>
                <p class="texto">En Rubicat consideramos muy importante la labor de nuestros distribuidores. Son ellos los encargados de distribuir nuestros productos a lo largo y ancho de nuestro país. Contamos con más de 100 y vos podés ser uno de ellos.</p>
            </fieldset>
        </div>

        <div data-aos="fade-right" data-aos-duration="3000">
            <fieldset class="caja2">
                <legend class="titulo">¿Querés distribuir?</legend>
                <p class="texto">Si sos distribuidor y no aparecés en el mapa o si querés ser parte del equipo de distribución, hacé click en el siguiente botón y contactanos. Tendrás una respuesta inmediata.</p>
                <div>
                     <a href="https://api.whatsapp.com/send?phone=+541132762324&text=Hola 😁" target="_blank"><button type="button" class="btn btn-success col-5" id="boton">Contacto</i> </button></a>
                      </div>
            </fieldset>
        </div>

        </section>
        
        <section class="mapa" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="2000">
            <h3 class="titulo">Encontrá a tu distribuidor más cercano</h3>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1QVKFcLC2CRT9VJuL0gCTYst_q1kD-IoM" title="Mapa Distribuidores" width="90%" height="540px" class="googleMap"></iframe>
        </section>


  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>