<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')  %> 
  <body class="eng">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a href="/eng"><img src="/images/iconos/faviconwhite.png" alt="Ãcono Rubicat" width="24" height="24"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ENGLISH&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/iconos/bandera eeuu.png" class="bandera" alt="Bandera Estados Unidos">
              </a>
              <ul class="dropdown-menu" aria-labelledby="Idiomas">
                <li><a class="dropdown-item white flag" href="/" id="banderaArgentina">SPANISH&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/iconos/bandera argentina.png" class="bandera" alt="Bandera Argentina"></a></li>
              </ul>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
    <%- include('./partials/banner') %>

    <main class="index">
    
      <section class="banner">
        <div class="presentacion">
          <div class="contenedorVideo">
            <youtube-lite class="videoYoutube" width: 320 height: 176 video="JX1jSK4-eIw" placeholder= "/images/index/video2.png"></youtube-lite>
          </div>
          <div class="parrafo">
            <h1 class="titulo">CLUMPING CAT LITTER</h1>
            <div class="redes">
              <a href="https://www.instagram.com/rubicatarena/" target="_blank" title="Rubicat Instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCwm-VHjAttiFIWGmRTMW-eg/featured" target="_blank" title="Youtube Rubicat"><i class="fa-brands fa-youtube"></i></a>
              <a href="https://www.tiktok.com/@rubicatarena" target="_blank" title="TikTok Rubicat"><i class="fa-brands fa-tiktok"></i></a>
              <a href="https://api.whatsapp.com/send?phone=+541132762324&text=Hello ðŸ˜" target="_blank" title="Whatsapp Rubicat"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
            </section>

      <article class="data">
        <div>
          <h2 class="titulo">CLUMPING CAT LITTER</h2>
          <h2 class="subtitulo">MORE EFFECTIVE, PRACTICAL AND ECONOMIC</h2>
        </div>
        <div>
          <p class="texto">With Rubicat you can have a tray free of bad smells. It is also easy to clean. You remove only the clusters that form and replenish the amount that is extracted. Unlike common stones, Rubicat allows you to have a clean and dry sand for continuous use without product waste.</p>
          <div class="contenedor">
            <div>
             <ul class="lista">
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">BINDS INSTANTLY</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">eliminates bad odors</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Easy to clean</span></i></li>
          </ul>
          </div>
          <div>
            <ul class="lista">
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">100% natural</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Secure closure</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Avoid product waste</span></i></li>
          </ul>
          </div>
        </div>
        </div>
        
      </article>

      <section class="productos">

        <div class="informacion">
          <h3 class="titulo">KNOW OUR PRODUCT LINE</h3>
          <p class="texto">Our products are designed for the needs of each cat. We determine the granulometry and variations, appropriate to the use of each client</p>
          
          <div class="accordion" id="accordionExample">

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="acordeon-sensitive">
                  RUBICAT SENSITIVE
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat Sensitive</strong> brings together the essential characteristics in a sanitary product for cats: Extreme odor control; Micro grained for greater comfort; Instantly agglutinates forming resistant clusters; Prevents the formation of bacteria in the tray; 
                  Its non-toxic formula with a neutral pH guarantees greater safety and well-being for your cat and your family. <br>
                  <strong>It is ideal for demanding users.</strong>
                </div>
                <div class="container">
                <img class="img" src="/images/index/productos/Sensitive-Producto.webp" alt="Rubicat Sensitive producto">
                <img class="img2" src="/images/index/productos/Sensitive-Producto2.webp" alt="Rubicat Sensitive producto">
                <img class="img3" src="/images/index/productos/Sensitive-Producto3.webp" alt="Rubicat Sensitive producto">
              </div>    
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="acordeon-premium">
                  RUBICAT PREMIUM
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat Premium</strong> binds instantly, allowing only the material used to be discarded and providing greater performance. 
                  Rubicat Premium will be dry, clean and odor free for continued use.
                </div>
                <div class="container">
                <img class="img" src="/images/index/productos/Premium-Producto.webp" alt="Rubicat Premium producto">
                <img class="img2" src="/images/index/productos/Premium-Producto2.webp" alt="Rubicat Premium producto">
                <img class="img3" src="/images/index/productos/Premium-Producto3.webp" alt="Rubicat Premium producto">
              </div>
            </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="acordeon-detox">
                  RUBICAT DETOX
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat Detox</strong> is the ideal solution. Designed with the health and well-being of your cat in mind, this innovative cat litter not only offers excellent quality, but also stands out for its ability to retain toxins and purify the environment.
                </div>
                <div class="container">
                  <img class="img" src="/images/index/productos/Detox-Producto.webp" alt="Rubicat Detox producto">
                </div>
            </div>
            </div> 

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFor">
                <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor" id="acordeon-original">
                  RUBICAT ORIGINAL
                </button>
              </h2>
              <div id="collapseFor" class="accordion-collapse collapse" aria-labelledby="headingFor" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat ORIGINAL</strong> has a noticeable difference is the granulometry. This version has a mixture of medium and small grains (multigrain). This allows it to have more performance than the Classic version.
                </div>
                <div class="container">
                <img class="img" src="/images/index/productos/Original-Producto.webp" alt="Rubicat Original producto">
                <img class="img2" src="/images/index/productos/Original-Producto2.webp" alt="Rubicat Original producto">
                <img class="img3" src="/images/index/productos/Original-Producto3.webp" alt="Rubicat Original producto">
              </div>
            </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" id="acordeon-classic">
                  RUBICAT CLASSIC
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat CLASSIC</strong> is ideal for those cats that are in transition or using clumping litter for the first time.<br> You can find it in its Classic format or in its Lavanda format.
                </div>
                <div class="container">
                <img class="img" src="/images/index/productos/Classic-Producto.webp" alt="Rubicat Classic producto">
                <img class="img2" src="/images/index/productos/Classic-Producto2.webp" alt="Rubicat Classic producto">
                <img class="img3" src="/images/index/productos/Classic-Producto3.webp" alt="Rubicat Classic producto">
              </div>
            </div>
            </div>

          </div>
        </div> 
      </section>
  

      <section class="bannerML">
        <a href="https://www.instagram.com/rubicatarena/" target="_blank"><img src="/images/banner/mobile.webp" class="imagen" alt="Banner Rubicat Mercadolibre"></a>
      </section> 

      <section class="bannerMLDesktop">
        <a href="https://www.instagram.com/rubicatarena/" target="_blank"><img src="/images/banner/desktop.webp" class="imagen" alt="Banner Rubicat Mercadolibre"></a>
      </section> 

      <section class="bannerMLDesktopMax">
        <a href="https://www.instagram.com/rubicatarena/" target="_blank"><img src="/images/banner/desktopMax.webp" class="imagen" alt="Banner Rubicat Mercadolibre"></a>
      </section> 

      <section class="contacto" id="contacto">
       
        <div class="informacionContacto">
        <h3 class="titulo">Contact</h3>
        <p class="texto">If you have any questions, fill out the following form. We are attentive to your query and will respond as soon as possible.</p>
      
        <article class="datos">
            <div class="tarjeta1">
              <i class="fa-solid fa-envelope"> </i>
               <a href="mailto:info@rubicat.com.ar" class="texto"> info@rubicat.com.ar</a> 
            </div>
        </article>
     
      </div>
      
      <article class="formulario" id="formulario">
        
        <form action="/eng" method="POST" novalidate id="index">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input class="form-control" type="text" id="exampleFormControlInput1" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : null %>" required>
         <div class="textoError">
           <span class="text-danger"> <%= locals.errores && errores.nombre ? errores.nombre.msg : null %> </span>
          </div>
        </div>

      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com" name="email" value="<%= locals.old && old.email ? old.email : null %>" required>
        <div class="textoError"> 
          <span class="text-danger"> <%= locals.errores && errores.email ? errores.email.msg : null %> </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Telephone / Whatsapp</label>
        <input class="form-control" id="exampleFormControlInput3" type="number" name="telefono" value="<%= locals.old && old.telefono ? old.telefono : null %>" required>
        <div class="textoError"> 
          <span class="text-danger"> <%= locals.errores && errores.telefono ? errores.telefono.msg : null %> </span>
        </div>
     </div>

      <div class="mb-3">
        <label for="exampleFormControlInput4" class="form-label">Subject</label>
        <input class="form-control" id="exampleFormControlInput4" type="text" name="asunto" value="<%= locals.old && old.asunto ? old.asunto : null %>" required>
        <div class="textoError"> 
           <span class="text-danger"> <%= locals.errores && errores.asunto ? errores.asunto.msg : null %> </span>
          </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="mensaje"><%= locals.old && old.mensaje ? old.mensaje : null%></textarea required>
        <div class="textoError"> 
        <span class="text-danger"> <%= locals.errores && errores.mensaje ? errores.mensaje.msg : null %> </span>
      </div>
    </div>
   
    <button class="boton" id="botonFormularioDisabled" disabled>Send</button>
    <button class="boton" id="botonFormulario">Send</button>
          
    </form>
      </article>
    
      </section>

  </main>
  <%- include('./partials/backToTop') %>

  <section class="footer">
    
    <div class="datos">
        <img class="logoFooter" src="/images/index/logoPortada.webp" alt="Logo Rubicat footer">
    </div>

  
      <div class="iconosMenu">
        <div class="iconos">
        <a href="https://www.instagram.com/rubicatarena/" target="_blank" title="Instagram Rubicat"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@rubicatarena" target="_blank" title="Tiktok Rubicat"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+541132762324&text=Hello ðŸ˜" target="_blank" title="Whatsapp Rubicat"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
        
    </div>
</section>

  <%- include('./partials/scripts') %>
  <%- include('./partials/scriptBoton') %>
  </script>
  </body>
</html>
