<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/banner') %>
    <main class="formularioEnviado">            
            <section class="container">
            <img src="/images/index/cat-ok.gif" class="gif" alt="Gif gato">
            <h3 class="titulo">¡Su mensaje ha sido enviado!</h1>
            <h4 class="texto">Nos estaremos contactando a la brevedad</h4>
            <a href="/"><button class="boton sensitive">Volver al inicio</button></a>
        </section>
        </main>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  <%- include('./partials/backToTop') %>
  </body>
</html>
