<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/banner') %>

    <main class="index">
    
      <section class="banner" data-aos="fade-up" data-aos-duration="2000">

        <div class="presentacion" data-aos="fade-up" data-aos-duration="3000">
          <div class="contenedorVideo">
            <youtube-lite class="videoYoutube" width: 320 height: 176 video="JX1jSK4-eIw" placeholder= "/images/index/video2.webp" style="border-radius: 50%!important"></youtube-lite>
          </div>
          <div class="parrafo">
            <h1 class="titulo">ARENA SANITARIA AGLUTINANTE PARA GATOS</h1>
            <p class="texto">Más efectiva, práctiva y económica que las otras marcas</p>
            <div class="redes">
              <a href="https://www.instagram.com/rubicatarena/" target="_blank" title="Rubicat Instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCwm-VHjAttiFIWGmRTMW-eg/featured" target="_blank" title="Youtube Rubicat"><i class="fa-brands fa-youtube"></i></a>
              <a href="https://www.tiktok.com/@rubicatarena" target="_blank" title="TikTok Rubicat"><i class="fa-brands fa-tiktok"></i></a>
              <a href="https://api.whatsapp.com/send?phone=+541132762324&text=Hola 😁" target="_blank" title="Whatsapp Rubicat"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
    
            </section>


      <article class="data" data-aos="fade-up" data-aos-duration="2000">
        <div>
          <h2 class="titulo">ARENA SANITARIA AGLUTINANTE PARA GATOS</h2>
          <h2 class="subtitulo">Más efectiva, práctica y económica</h2>
        </div>
        <div>
          <p class="texto">Con Rubicat podés tener una bandeja libre de malos olores. Además es fácil de limpiar, retirás únicamente los cúmulos que se forman y reponés la cantidad que es extraída. A diferencia de las piedras comunes, Rubicat permite tener una arena limpia y seca para un uso continuo sin desperdicio de producto.</p>
          <div class="contenedor">
            <div>
             <ul class="lista">
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Aglutina instantáneamente</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Elimina malos olores</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Fácil de limpiar</span></i></li>
          </ul>
          </div>
          <div>
            <ul class="lista">
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">100% natural</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Cierre seguro</span></i></li>
            <li class="ticks"><i class="fa-solid fa-check"><span class="tickTexto">Evita el desperdicio de producto</span></i></li>
          </ul>
          </div>
        </div>
        </div>
        
      </article>

      <section class="productos">

        <div class="informacion" data-aos="fade-down" data-aos-duration="2200" data-aos-delay="750">
          <h3 class="titulo">Conocé Nuestra Línea de Productos</h3>
          <p class="texto">Nuestros productos están pensados para la necesidad de cada gato. Determinamos la granulometría y las variaciones, adecuadas al uso de cada cliente.</p>
          
          <div class="accordion" id="accordionExample">
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="acordeon-classic">
                  RUBICAT CLASSIC
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat Classic</strong> es ideal para aquellos gatitos que se encuentran en transicion o utilizan por primera vez una arena aglomerante. <br> Podés encontrarla en su formato Classic o en su formato Lavanda.
                  <strong></strong>
                </div>
                <div class="container">
                <img class="img" src="/images/index/productos/Classic-Producto.webp" alt="Rubicat Classic producto">
                <img class="img2" src="/images/index/productos/Classic-Producto2.webp" alt="Rubicat Classic producto">
                <img class="img3" src="/images/index/productos/Classic-Producto3.webp" alt="Rubicat Classic producto">
              </div>
                <a href="/productos/classic"><button class="boton-carrusel classic">Ver Detalles</button></a>
            </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="acordeon-premium">
                  RUBICAT PREMIUM
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat Premium</strong> aglutina de manera instantánea, permitiendo desechar únicamente el material utilizado y otorgando un mayor rendimiento. Rubicat Premium estará seca, limpia y sin olores para un uso continuo.
                </div>
                <div class="container">
                <img class="img" src="/images/index/productos/Premium-Producto.webp" alt="Rubicat Premium producto">
                <img class="img2" src="/images/index/productos/Premium-Producto2.webp" alt="Rubicat Premium producto">
                <img class="img3" src="/images/index/productos/Premium-Producto3.webp" alt="Rubicat Premium producto">
              </div>
                <a href="/productos/premium"><button class="boton-carrusel premium">Ver Detalles</button></a>  
            </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="acordeon-sensitive">
                  RUBICAT SENSITIVE
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Rubicat Sensitive</strong> reúne las características indispensables en un producto sanitario para gatos: Extremo control de olores; Micro granulado para un mayor confort; Aglutina instantáneamente formando cúmulos resistentes; Impide la formación de bacterias en la bandeja; Su fórmula no tóxica con un pH neutro garantiza una mayor seguridad y bienestar para su gato y su familia. <br>
                  <strong>Es ideal para usuarios exigentes.</strong>
                </div>
                <div class="container">
                <img class="img" src="/images/index/productos/Sensitive-Producto.webp" alt="Rubicat Sensitive producto">
                <img class="img2" src="/images/index/productos/Sensitive-Producto2.webp" alt="Rubicat Sensitive producto">
                <img class="img3" src="/images/index/productos/Sensitive-Producto3.webp" alt="Rubicat Sensitive producto">
              </div>
                <a href="/productos/sensitive"><button class="boton-carrusel sensitive">Ver Detalles</button></a>
              </div>
            </div>
          </div>
        </div> 
      </section>
  

      <section class="bannerML" data-aos="fade-right" data-aos-duration="2000" >
        <a href="https://www.instagram.com/rubicatarena/" target="_blank"><img src="/images/banner/mobile.webp" class="imagen" alt="Banner Rubicat Mercadolibre"></a>
      </section> 

      <section class="bannerMLDesktop" data-aos="fade-right" data-aos-duration="2000" >
        <a href="https://www.instagram.com/rubicatarena/" target="_blank"><img src="/images/banner/desktop.webp" class="imagen" alt="Banner Rubicat Mercadolibre"></a>
      </section> 

      <section class="bannerMLDesktopMax" data-aos="fade-right" data-aos-duration="2000" >
        <a href="https://www.instagram.com/rubicatarena/" target="_blank"><img src="/images/banner/desktopMax.webp" class="imagen" alt="Banner Rubicat Mercadolibre"></a>
      </section> 

      <section class="contacto" id="contacto" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
       
        <div class="informacionContacto">
        <h3 class="titulo">Contacto</h3>
        <p class="texto">Si tenés alguna pregunta o querés distribuir Rubicat, completá el siguiente formulario. Estamos atentos a tu consulta y responderemos a la brevedad.</p>
      
        <article class="datos">
            <div class="tarjeta1">
              <i class="fa-solid fa-envelope"> </i>
               <a href="mailto:info@rubicat.com.ar" class="texto"> info@rubicat.com.ar</a> 
            </div>
        </article>
     
      </div>
      
      <article class="formulario" id="formulario">
        
        <form action="/" method="POST" novalidate id="index">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input class="form-control" type="text" id="exampleFormControlInput1" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : null %>" required>
         <div class="textoError">
           <span class="text-danger"> <%= locals.errores && errores.nombre ? errores.nombre.msg : null %> </span>
          </div>
        </div>

      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="nombre@ejemplo.com" name="email" value="<%= locals.old && old.email ? old.email : null %>" required>
        <div class="textoError"> 
          <span class="text-danger"> <%= locals.errores && errores.email ? errores.email.msg : null %> </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Número de teléfono / Whatsapp</label>
        <input class="form-control" id="exampleFormControlInput3" type="number" name="telefono" value="<%= locals.old && old.telefono ? old.telefono : null %>" required>
        <div class="textoError"> 
          <span class="text-danger"> <%= locals.errores && errores.telefono ? errores.telefono.msg : null %> </span>
        </div>
     </div>

      <div class="mb-3">
        <label for="exampleFormControlInput4" class="form-label">Asunto</label>
        <input class="form-control" id="exampleFormControlInput4" type="text" name="asunto" value="<%= locals.old && old.asunto ? old.asunto : null %>" required>
        <div class="textoError"> 
           <span class="text-danger"> <%= locals.errores && errores.asunto ? errores.asunto.msg : null %> </span>
          </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="mensaje"><%= locals.old && old.mensaje ? old.mensaje : null%></textarea required>
        <div class="textoError"> 
        <span class="text-danger"> <%= locals.errores && errores.mensaje ? errores.mensaje.msg : null %> </span>
      </div>
    </div>
   
    <button class="boton" id="botonFormularioDisabled" disabled>Enviar</button>
    <button class="boton" id="botonFormulario">Enviar</button>
          
    </form>
      </article>
    
      </section>

  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  <%- include('./partials/scriptBoton') %>
  </script>
  </body>
</html>
