<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/banner') %>
    <main class="nosotros">

      <section>
      <article class="historia">
        <div class="contenedor">
        <h1 class="titulo">NUESTRA HISTORIA</h1>
        <p class="texto">Rubicat nace durante la pandemia. A pesar del difícil momento que transcurría nuestro país y la sociedad, cuatro amigos decidieron emprender un nuevo camino en sus vidas. Resilientes, luego de varios años en diversas profesiones, lograron transformarse y adaptarse a un mundo cambiante.
          Gracias a oportunidades, aprovechar el momento, la capacidad de observación del mercado, y el reconocer el valor de las redes sociales, Rubicat comenzó a crecer en gran medida dentro del rubro de productos sanitarios para gatos.</p>
        </div>
            <div class="contenedorImagenes">
              <img class="img1" src="/images/nosotros/reunion.png" alt="Historia Rubicat">
            </div>
      </article>
      
      <article class="objetivos">
        <div class="contenedor">
        <h2 class="titulo">NUESTROS OBJETIVOS</h2>
        <p class="texto">Contamos con un objetivo claro, satisfacer las necesidades de los dueños de gatos y facilitar la vida de los mismos. Desarrollamos una línea de productos pensada en resolver ciertos aspectos tediosos de la rutina gatuna, como lo es la limpieza de las bandejas sanitarias.
          Siempre en movimiento y crecimiento, continuamos expandiendo nuestra línea de artículos, apuntando a cada sector del mercado.</p>
        </div>
          <div class="contenedorImagenes">
            <img class="img1" src="/images/nosotros/objetivos.webp" alt="Objetivos Rubicat">
         </div>
      </article>

      <article class="materiaPrima">
        <div class="contenedor">
        <h2 class="titulo">MATERIA PRIMA</h2>
        <p class="texto">Apostamos por la revalorización de la Bentonita, mineral con el cual se fabrica el producto. Un material poco conocido pero con una gran variedad de usos, que rondan desde su utilización en cosmética hasta como componente de alimentos  balanceados para animales. 
          Al usar Bentonita, Rubicat posee un rendimiento superior al de otros productos sanitarios y a su vez aporta importantes características al producto, como eliminar los malos olores y ser totalmente natural.</p>
        </div>
          <div class="contenedorImagenes">
              <img class="img1" src="/images/nosotros/yacimiento.webp" alt="Materia prima Rubicat">
          </div>
      </article>
      
      <article class="contador">
        <div class="contenedor">
          <p class="numeros Sensitive">2000</p>
          <p class="texto">Puntos de venta</p>
        </div>

        <div class="contenedor">
          <p class="numeros Premium">1500</p>
          <p class="texto">Toneladas</p>
        </div>

        <div class="contenedor">
          <p class="numeros Lavanda">8500</p>
          <p class="texto">Seguidores</p>
        </div>
        
        <div class="contenedor">
          <p class="numeros Classic">+100</p>
          <p class="texto">Distribuidores</p>
        </div>
      </article>

      <article class="redes">
        <div class="contenedor">
          <h2 class="titulo">COMUNICACIÓN</h2>
          <p class="texto">Buscando nuevos caminos, exploramos formas de comunicación diferentes, adaptándonos a cada plataforma digital y red social, con el fin de poder dar a conocer la marca y alcanzar cada hogar gatuno, para brindarles a los dueños de gatos una solución sanitaria.</p>
          </div>
          <div class="contenedorImagenes">
            <img class="imgGalide" src="/images/nosotros/galide.png" alt="Materia prima Rubicat">
        </div>
        </article>
      
    </section>
          
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
