<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/banner') %>
    <main class="nosotros">
    
      <section class="tarjetas">

        <article class="quienesSomos sensitive" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2200" data-aos-delay="750">
          <i class="fa-solid fa-address-card"></i>
          <h4 class="titulo">QUIÉNES SOMOS</h4>
          <p class="texto">Somos una empresa que se encuentra en constante expansión. Contamos con distribuidores a lo largo de toda Argentina.</p>
        </article>
      

      <article class="nosotros premium" id="nosotros" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2200" data-aos-delay="750">
        <a href="/#contacto">
        <i class="fa-solid fa-cube"></i>
        <h4 class="titulo">Constante expansión</h4>
        <p class="texto">Contamos con distribución en gran parte de Argentina, incorporando día a día nuevas zonas. ¿Te interesa distribuir nuestro producto? ¡Contactanos!</p>
      </a>
      </article>

      <article class="redes classic" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2200" data-aos-delay="750"> 
        <i class="fa-solid fa-globe"></i>
        <h4 class="titulo">Nuevos proyectos</h4>
        <p class="texto">Nuestra línea de productos posee cuatro variedades y planeamos seguir sumando otras alternativas, con distintas presentaciones enfocadas en la necesidad de cada cliente.</p>
      </article>

    </section>
    
    <section class="ubicacion" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
      <h5 class="titulo">Nos encontramos en Lomas de Zamora, zona sur de la Provincia de Buenos Aires</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13107.450865631477!2d-58.4225605!3d-34.7842312!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x462185e1b045681f!2sRubicat!5e0!3m2!1ses-419!2sar!4v1658183456914!5m2!1ses-419!2sar" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
    </section>

      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
