<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/banner') %>
    <main class="nosotros">
    
      <section class="tarjetas">

        <article class="quienesSomos sensitive" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2200" data-aos-delay="750">
          <i class="fa-solid fa-address-card"></i>
          <h4 class="titulo">QUIÉNES SOMOS</h4>
          <p class="texto">Somos una empresa que se encuentra en constante expansión. Contamos con distribuidores a lo largo de toda Argentina.</p>
        </article>
      

      <article class="nosotros premium" id="nosotros" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2200" data-aos-delay="750">
        <i class="fa-solid fa-cube"></i>
        <h4 class="titulo">Constante expansión</h4>
        <p class="texto">Contamos con distribución en gran parte de Argentina, incorporando día a día nuevas zonas. ¿Te interesa distribuir nuestro producto? ¡Contactanos!ina.</p>
      </article>

      <article class="redes classic" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2200" data-aos-delay="750"> 
        <i class="fa-solid fa-globe"></i>
        <h4 class="titulo">Nuevos proyectos</h4>
        <p class="texto">Nuestra línea de productos posee cuatro variedades y planeamos seguir sumando otras alternativas, con distintas presentaciones enfocadas en la necesidad de cada cliente.</p>
        <!-- <div class="iconosRedes">
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-tiktok"></i>
      </div> -->
      </article>

    </section>

      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
