<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="DetalleProductos">
      <%- include('./partials/banner') %> 

      <div class="nav">
        <a href="/"><button class="boton original">← Volver atrás</button></a>
      </div>

      <section class="producto">

        <article class="imagen-precio">

          <div class="container">
            <img src="/images/renders/original/original-producto.webp" alt="Rubicat Original" class="img">
          </div>
          <div class="data">
            <h1 class="titulo Original">RUBICAT ORIGINAL</h1>
            <p class="detalles"><b>Fórmula original</b></p>
            <p class="detalles">Envíos a todo el país</p>
            <p class="detalles">Disponible en 5KG</p>


           <a href="https://listado.mercadolibre.com.ar/rubicat-original#D[A:rubicat%20original]" target="_blank"><button class="boton original">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info">
            <h2 class="titulo Original">Descripción</h2>
            <p class="textoDescriptivo">Nuestro nuevo producto está creado a partir de la fórmula original (primera fórmula) con una molienda actualizada. Recordamos nuestros orígenes pero los mejoramos.</p>
            <p class="textoDescriptivo">Rubicat Original tiene una granulometría diferencial (multigrano), acorde a los estándares de optimización, para mayor rendimiento y absorción</p>
          </div>

          <div class="caracteristicas">

            <h3 class="titulo Original">Características</h3>

            <div class="container">

              <div class="container1">

            <div class="subcontainer">

              <div>
                <img src="/images/renders/original/logos/natural.png" class="logos" alt="Natural">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Original">100% Natural</p>
                <p class="texto">Rubicat es un producto natural, sin agregados químicos. Debido a esta composición se degrada con facilidad.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/original/logos/olores.png" class="logos" alt="Elimina olores">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Original">Elimina olores</p>
                <p class="texto">Su capacidad de aglomeración permite capturar los olores al instante y así mantener los ambientes limpios.</p>
              </div>
            </div>
          </div>

          <div class="container2">
            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/original/logos/ahorro.png" class="logos" alt="Mayor rendimiento">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Original">Mayor rendimiento</p>
                <p class="texto">Una vez generado el cúmulo, este se retira y se repone solo la cantidad extraída.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/original/logos/formula.png" class="logos" alt="Aglutina">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Original">Acción instantánea</p>
                <p class="texto">Absorbe la humedad formando cúmulos irrompibles, facilitando así su limpieza y reemplazo posterior.</p>
              </div>
            </div>
          </div>

          </div>
          </div>

          <!-- <div class="modo">
            <div>
              <h4 class="titulo Premium">Modo de uso</h4>
            </div>
              <div class="video">
               <youtube-lite class="videoYoutube"
              width: 320
              height: 176
              video="JX1jSK4-eIw"
              placeholder= "/images/renders/premium/CoverPremium.webp"
            ></youtube-lite> 
            </div>
          </div> -->
          
        </article>
      </section>

      <section class="masproductos">
        <h4 class="titulo">Más productos</h4>

        <div class="tarjetasMobile">

        <div class="tarjeta1">
          <img src="/images/index/productos/Premium-Producto2.webp" class="imagenTarjeta" alt="Rubicat Premium">
          <a href="/productos/premium" class="btn btn-primary BtnTarjeta premium white">Ver detalles</a>
        </div>

        <div class="tarjeta2">
          <img src="/images/index/productos/Sensitive-Producto2.webp" class="imagenTarjeta" alt="Rubicat Sensitive">
          <a href="/productos/sensitive" class="btn btn-primary BtnTarjeta sensitive white">Ver detalles</a>
        </div>

      </div>

        <div class="tarjetasDesktop">

          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Premium-Producto2.webp" class="card-img-top" alt="Rubicat Premium">
            <div class="card-body">
              <h5 class="card-title">Rubicat Premium</h5>
              <p class="card-text">100% Natural</p>
              <a href="/productos/premium" class="btn btn-primary premium white">Ver detalles</a>
            </div>
          </div>

  
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Sensitive-Producto2.webp" class="card-img-top" alt="Rubicat Sensitive">
            <div class="card-body">
              <h5 class="card-title">Rubicat Sensitive</h5>
              <p class="card-text">Para exigentes</p>
              <a href="/productos/sensitive" class="btn btn-primary sensitive white">Ver detalles</a>
            </div>
          </div>
        </div>
      </section>
      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
