<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="DetalleProductos">
      <%- include('./partials/banner') %> 

      <div class="nav" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="750">
        <a href="/"><button class="boton premium">← Volver atrás</button></a>
      </div>

      <section class="producto">

        <article class="imagen-precio">

          <div class="container" data-aos="fade-down" data-aos-duration="2500">
            <img src="/images/renders/premium/premium-producto.webp" alt="Rubicat Premium" class="img">
          </div>
          <div class="data" data-aos="fade-right" data-aos-duration="2500">
            <h1 class="titulo Premium">RUBICAT PREMIUM</h1>
            <p class="detalles"><b>Acción instantánea</b></p>
            <p class="detalles">Envíos a todo el país</p>
            <p class="detalles">Stock disponible</p>


           <a href="https://listado.mercadolibre.com.ar/rubicat-premium#D[A:rubicat%20premium]" target="_blank"><button class="boton premium">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="750">
            <h2 class="titulo Premium">Descripción</h2>
            <p class="texto">Rubicat Premium reúne las características indispensables en un producto sanitario para gatos: Extremo control de olores; Micro granulado para un mayor confort; Aglutina instantáneamente formando cúmulos resistentes; Impide la formación de bacterias en la bandeja; Su fórmula no tóxica con un pH neutro garantiza una mayor seguridad y bienestar para su gato y su familia.</p>
          </div>

          <div class="caracteristicas">

            <h3 class="titulo Premium" data-aos="fade-right" data-aos-duration="2000">Caracteristicas</h3>

            <div class="container">

              <div class="container1" data-aos="fade-right" data-aos-duration="2000">

            <div class="subcontainer">

              <div>
                <img src="/images/renders/premium/logos/natural4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">100% Natural</p>
                <p class="texto">Rubicat es un producto natural, sin agregados químicos, 100% a base de madera. Debido a esta composición se desgrada con facilidad.</p>
              </div>

            </div>


            <div class="subcontainer">
              
              <div class="containerLogos">
                <img src="/images/renders/premium/logos/elimina olores4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">Elimina olores</p>
                <p class="texto">Su capacidad de aglomeración permite capturar los olores al instante y así mantener los ambientes limpios.</p>
              </div>
            </div>

          </div>

          <div class="container2" data-aos="fade-right" data-aos-duration="2000">

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/premium/logos/limpiar4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">Mayor rendimiento</p>
                <p class="texto">Una vez generado el cúmulo, este se retira y se repone solo la cantidad extraída.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/premium/logos/aglutina4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">Acción instantanea</p>
                <p class="texto">La arena Premium contiene la máxima neutralización de olores de todo el mercado.</p>
              </div>
            </div>

          </div>

          </div>
          </div>

          <div class="modo" data-aos="fade-up" data-aos-duration="3000">
            <div>
              <h4 class="titulo Premium">Modo de uso</h4>
            </div>
              <div class="video" data-aos="fade-up" data-aos-duration="3000">
              <iframe width="320" height="260" src="https://www.youtube.com/embed/JX1jSK4-eIw" class="videoYoutube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          
        </article>
      </section>

      <section class="masproductos" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
        <h4 class="titulo">Más productos Rubicat</h4>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/productos/classic"><img src="/images/index/productos/Classic-Producto.jpg" class="d-block w-100" alt="Rubicat Classic" id="img"></a>
            </div>
            <div class="carousel-item">
              <a href="/productos/sensitive"><img src="/images/index/productos/Sensitive-Producto.jpg" class="d-block w-100" alt="Rubicat Sensitive" id="img"></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="tarjetasDesktop" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Classic-Producto.jpg" class="card-img-top" alt="Rubicat Classic">
            <div class="card-body">
              <h5 class="card-title">Rubicat Classic</h5>
              <p class="card-text">100% Natural</p>
              <a href="/productos/classic" class="btn btn-primary classic white">Ver detalles</a>
            </div>
          </div>
  
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Sensitive-Producto2.jpg" class="card-img-top" alt="Rubicat Sensitive">
            <div class="card-body">
              <h5 class="card-title">Rubicat Sensitive</h5>
              <p class="card-text">Para exigentes</p>
              <a href="/productos/sensitive" class="btn btn-primary sensitive white">Ver detalles</a>
            </div>
          </div>
  
        </div>
      </section>

    
      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
