<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="DetalleProductos">
      <%- include('./partials/banner') %> 

      <div class="nav">
        <a href="/"><button class="boton premium">← Volver atrás</button></a>
      </div>

      <section class="producto">

        <article class="imagen-precio">

          <div class="container">
            <img src="/images/renders/premium/premium-producto.webp" alt="Rubicat Premium" class="img">
          </div>
          <div class="data">
            <h1 class="titulo Premium">RUBICAT PREMIUM</h1>
            <p class="detalles"><b>Acción instantánea</b></p>
            <p class="detalles">Envíos a todo el país</p>
            <p class="detalles">Disponible en 5.7KG y 11KG</p>


           <a href="https://listado.mercadolibre.com.ar/rubicat-premium#D[A:rubicat%20premium]" target="_blank"><button class="boton premium">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info">
            <h2 class="titulo Premium">Descripción</h2>
            <p class="textoDescriptivo">Rubicat Premium aglomera de manera instantánea, permitiendo desechar únicamente el material utilizado y otorgando un mayor rendimiento. Rubicat Premium estará seca, limpia y sin olores para un uso continuo.</p>
          </div>

          <div class="caracteristicas">

            <h3 class="titulo Premium">Características</h3>

            <div class="container">

              <div class="container1">

            <div class="subcontainer">

              <div>
                <img src="/images/renders/premium/logos/natural4x.png" class="logos" alt="Natural">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">100% Natural</p>
                <p class="texto">Rubicat es un producto natural, sin agregados químicos, 100% a base de madera. Debido a esta composición se degrada con facilidad.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/premium/logos/elimina olores4x.png" class="logos" alt="Elimina olores">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">Elimina olores</p>
                <p class="texto">Su capacidad de aglomeración permite capturar los olores al instante y así mantener los ambientes limpios.</p>
              </div>
            </div>
          </div>

          <div class="container2">
            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/premium/logos/limpiar4x.png" class="logos" alt="Mayor rendimiento">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">Mayor rendimiento</p>
                <p class="texto">Una vez generado el cúmulo, este se retira y se repone solo la cantidad extraída.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/premium/logos/aglutina4x.png" class="logos" alt="Aglutina">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Premium">Acción instantánea</p>
                <p class="texto">Su tamaño de granos pequeños permite una formulación de cúmulos en el momento.</p>
              </div>
            </div>
          </div>

          </div>
          </div>

          <div class="modo">
            <div>
              <h4 class="titulo Premium">Modo de uso</h4>
            </div>
              <div class="video">
               <youtube-lite class="videoYoutube"
              width: 320
              height: 176
              video="JX1jSK4-eIw"
              placeholder= "/images/renders/premium/CoverPremium.webp"
            ></youtube-lite> 
            </div>
          </div>
          
        </article>
      </section>

      <section class="masproductos">
        <h4 class="titulo">Más productos</h4>

        <div class="tarjetasMobile">

        <div class="tarjeta1">
          <img src="/images/index/productos/Original-Producto2.webp" class="imagenTarjeta" alt="Rubicat Original">
          <a href="/productos/original" class="btn btn-primary BtnTarjeta original white">Ver detalles</a>
        </div>

        <div class="tarjeta2">
          <img src="/images/index/productos/Sensitive-Producto2.webp" class="imagenTarjeta" alt="Rubicat Sensitive">
          <a href="/productos/sensitive" class="btn btn-primary BtnTarjeta sensitive white">Ver detalles</a>
        </div>

      </div>

        <div class="tarjetasDesktop">
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Original-Producto2.webp" class="card-img-top" alt="Rubicat Original">
            <div class="card-body">
              <h5 class="card-title">Rubicat Original</h5>
              <p class="card-text">Fórmula original</p>
              <a href="/productos/original" class="btn btn-primary original white">Ver detalles</a>
            </div>
          </div>
  
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Sensitive-Producto2.webp" class="card-img-top" alt="Rubicat Sensitive">
            <div class="card-body">
              <h5 class="card-title">Rubicat Sensitive</h5>
              <p class="card-text">Para exigentes</p>
              <a href="/productos/sensitive" class="btn btn-primary sensitive white">Ver detalles</a>
            </div>
          </div>
        </div>
      </section>
      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
