<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="DetalleProductos">
      <%- include('./partials/banner') %> 

      <div class="nav">
        <a href="/"><button class="boton sensitive">← Volver atrás</button></a>
      </div>

      <section class="producto">

        <article class="imagen-precio">
          <div class="container">
            <img src="/images/renders/sensitive/sensitive-producto.webp" alt="Rubicat Sensitive" class="img">
          </div>
          <div class="data">
            <h1 class="titulo Sensitive">RUBICAT SENSITIVE</h1>
            <p class="detalles"><b>Para usuarios exigentes</b></p>
            <p class="detalles">Envíos a todo el país</p>
            <p class="detalles">Disponible en 5KG</p>
           <a href="https://listado.mercadolibre.com.ar/rubicat-sensitive#D[A:rubicat%20sensitive]" target="_blank"><button class="boton sensitive">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info">
            <h2 class="titulo Sensitive">Descripción</h2>
            <p class="textoDescriptivo">Rubicat Sensitive reúne las características indispensables en un producto sanitario para gatos: Extremo control de olores; Micro granulado para un mayor confort; Aglutina instantáneamente formando cúmulos resistentes; Impide la formación de bacterias en la bandeja; Su fórmula no tóxica con un pH neutro garantiza una mayor seguridad y bienestar para su gato y su familia.</p>
          </div>

          <div class="caracteristicas">
            <h3 class="titulo Sensitive">Características</h3>
            
            <div class="container">

              <div class="container1">

            <div class="subcontainer">

              <div>
                <img src="/images/renders/sensitive/logos/confort4x.png" class="logos" alt="Mayor confort">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Mayor confort</p>
                <p class="texto">La fórmula Sensitive posee la máxima capacidad de absorción, el menor tiempo de acción y la mayor retención de olores.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/natural4x.png" class="logos" alt="100% Natural">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">100% Natural</p>
                <p class="texto">Rubicat es un producto natural, sin agregados químicos, 100% a base de madera. Debido a esta composición se desgrada con facilidad.</p>
              </div>
            </div>
          </div>

          <div class="container2">

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/aglutina4x.png" class="logos" alt="Acción instantánea">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Acción instantánea</p>
                <p class="texto">Sus micro granos permiten la mayor capacidad de absorción y la formulación de cúmulos al instante.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/elimina olores4x.png" class="logos" alt="Control de olores">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Control de olores</p>
                <p class="texto">La arena Sensitive contiene la máxima neutralización de olores de todo el mercado.</p>
              </div>
            </div>

          </div>

          <div class="container3">

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/microgranulado4x.png" class="logos" alt="Microgranulado">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Microgranulado</p>
                <p class="texto">Absorbe la humedad formando cúmulos irrompibles, facilitando así su limpieza y reemplazo posterior.</p>
              </div>
            </div>

            <div class="subcontainer">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/antiparacito4x.png" class="logos" alt="Protección antiparasitaria">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Antiparasitaria</p>
                <p class="texto">Impide la formación de bacterias en la bandeja. Logrando así, una máxima protección para la mascota.</p>
              </div>
            </div>

          </div>
          </div>

          <div class="modo">
            <div>
              <h4 class="titulo Sensitive">Modo de uso</h4>
            </div>
              <div class="video">
                <youtube-lite class="videoYoutube"
                width: 320
                height: 176
                video="ZVrispr06Pc"
                placeholder= "/images/index/video2.png"
              ></youtube-lite>
            </div>
          </div>

        </article>

      </section>

      <section class="masproductos">
        <h4 class="titulo">Más productos</h4>

        <div class="tarjetasMobile">

          <div class="tarjeta1">
            <img src="/images/index/productos/Original-Producto2.webp" class="imagenTarjeta" alt="Rubicat Original">
            <a href="/productos/original" class="btn btn-primary BtnTarjeta original white">Ver detalles</a>
          </div>
  
          <div class="tarjeta2">
            <img src="/images/index/productos/Premium-Producto2.webp" class="imagenTarjeta" alt="Rubicat Premium">
            <a href="/productos/premium" class="btn btn-primary BtnTarjeta premium white">Ver detalles</a>
          </div>
  
        </div>
        

        <div class="tarjetasDesktop">
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Premium-Producto.webp" class="card-img-top" alt="Rubicat Premium">
            <div class="card-body">
              <h5 class="card-title">Rubicat Premium</h5>
              <p class="card-text">Acción instantánea</p>
              <a href="/productos/premium" class="btn btn-primary premium white">Ver detalles</a>
            </div>
          </div>
  
          <div class="card" style="width: 20rem;">
            <img src="/images/index/productos/Original-Producto2.webp" class="card-img-top" alt="Rubicat Original">
            <div class="card-body">
              <h5 class="card-title">Rubicat Original</h5>
              <p class="card-text">Fórmula original</p>
              <a href="/productos/original" class="btn btn-primary original white">Ver detalles</a>
            </div>
          </div>
  
        </div>
      </section>

  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
