<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header') %>
    <main class="DetalleProductos">
      <%- include('./partials/banner') %> 

      <div class="nav">
        <a href="/"><button class="boton sensitive">← Volver atrás</button></a>
      </div>

      <section class="producto">

        <article class="imagen-precio">
          <div class="container">
            <img src="/images/renders/sensitive/sensitive-frente2.png" alt="Rubicat Sensitive" class="img">
          </div>
          <div class="data">
            <h1 class="titulo Sensitive">RUBICAT SENSITIVE</h1>
            <p class="detalles">Para usuarios exigentes</p>
            <p class="detalles">Envíos a todo el país</p>
           <a href="https://listado.mercadolibre.com.ar/rubicat-sensitive#D[A:rubicat%20sensitive]" target="_blank"><button class="boton sensitive">Comprar</button></a>
          </div>
        </article>

        <article class="descripcion">

          <div class="info">
            <h2 class="titulo Sensitive">Descripción</h2>
            <p class="texto">Rubicat Sensitive reúne las características indispensables en un producto sanitario para gatos: Extremo control de olores; Micro granulado para un mayor confort; Aglutina instantáneamente formando cúmulos resistentes; Impide la formación de bacterias en la bandeja; Su fórmula no tóxica con un pH neutro garantiza una mayor seguridad y bienestar para su gato y su familia.</p>
          </div>

          <div class="caracteristicas">
            <h3 class="titulo Sensitive">Caracteristicas</h3>

            <div class="container">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/confort4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Mayor confort</p>
                <p class="texto">La fórmula Sensitive posee la máxima capacidad de absorción, el menor tiempo de acción y la mayor retención de olores.</p>
              </div>
            </div>

            <div class="container">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/natural4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">100% Natural</p>
                <p class="texto">Rubicat es un producto natural, sin agregados químicos, 100% a base de madera. Debido a esta composición se desgrada con facilidad.</p>
              </div>
            </div>

            <div class="container">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/aglutina4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Acción instantánea</p>
                <p class="texto">Sus micro granos permiten la mayor capacidad de absorción y la formulación de cúmulos al instante.</p>
              </div>
            </div>

            <div class="container">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/elimina olores4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Extremo control de olores</p>
                <p class="texto">La arena Sensitive contiene la máxima neutralización de olores de todo el mercado.</p>
              </div>
            </div>

            <div class="container">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/microgranulado4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Microgranulado - Cúmulos resistentes</p>
                <p class="texto">Absorbe la humedad formando cúmulos irrompibles, facilitando así su limpieza y reemplazo posterior.</p>
              </div>
            </div>

            <div class="container">
              <div class="containerLogos">
                <img src="/images/renders/sensitive/logos/antiparacito4x.png" class="logos">
              </div>
              <div class="infoLogos">
                <p class="tituloLogos Sensitive">Protección antiparasitaria</p>
                <p class="texto">Impide la formación de bacterias en la bandeja. Logrando así, una máxima protección para la mascota.</p>
              </div>
            </div>



          </div>

          <div class="modo">
            <h4 class="titulo Sensitive">Modo de uso</h4>
          </div>
        </article>



      </section>

    
      
  </main>
  <%- include('./partials/backToTop') %>
  <%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
  </body>
</html>
